@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@700;800&display=swap');

:root {

  --main-red: #c92a2a;
  --light-red: #cc6666;
  --main-color: #087f5b;
  --main-bg-dark-color: #000000;
  --default-margin: 10px;
  --drop-shadow: drop-shadow(2px 4px 2px rgba(0,0,0,0.2));

  font-size: 62.5%;
}

body {
  background-color: var(--main-bg-dark-color);
}






.icon-container {
  display: flex;
  flex-direction: row;;
  align-content: center;
  justify-content: center;
  align-items: stretch;
  height: auto;
  padding: 0px 15px;
}

.icon-container a {

  padding: 5px 5px;
  color: white;
}



.react-p5 {
  width: clamp(1rem, 500px, 30rem);
  border-radius: 5px;
  border: 5px black;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  background-color: var(--main-bg-dark-color);
}

.react-p5 canvas {
  width: 100% !important;
  height: 100% !important;
}


.shadow {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}


.bracket:hover {

}



