@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');


:root {
  --main-red: rgba(150, 44, 20);
  --light-red: #cc6666;
  --main-color: var(--main-red);
  --main-bg-dark-color: rgb(19, 18, 11);
}

body {
  background-color: var(--main-bg-dark-color);
}

#me {
  width: 100px;
  border-radius: 50%;
}

html, body {
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
  background-color: var(--main-bg-dark-color);
  color: white;
}

.centered-flex {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}



#main-box {

  display: flex;
  align-items: center;
  align-content: center;
  padding: 5px;
  height: 150px;
}

#name {
  width: fit-content;
  font-size: 35px;
  font-weight: 700;

  padding-left: 15px;

}

.icon-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: stretch;
  height: 80%;
  padding: 0px 15px;
}

.social-icon {
  padding: 5px 0px;
  color: white;
}


.title {
  height: fit-content;
  width: fit-content;
  font-family: 'Lato', sans-serif;
}

.highlight {
  color: var(--main-color);
}



